<br>
<br>
<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |x| %>



  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2><%= link_to "#{x.title}", post_path(x) %></h2>
        <p><%= x.body %></p>
        <p class="btn btn-default"><%= link_to "view me", post_path(x) %></p>
      </div>
    </div>

    <hr>

<% end %>
