<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= form_for @post do |f|%>
<div>Title: <%= f.text_field :title %></div>
<div>Body: <%= f.text_area :body %></div>
<div> <%= f.submit "Add Post" %></div>
<% end %>
